<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Flask示例</title>
</head>

<body>

    <form action="result" method="POST">
        <table>
            <tr>
                <td>
                    <p>A,
                        name: <br><input type="text" name="Aname" /><br>
                        list: <br><textarea cols="30" rows="5" name="A"></textarea>
                    </p>
                </td>
                <td>
                    <p>B,
                        name: <br><input type="text" name="Bname" /><br>
                        list: <br><textarea cols="30" rows="5" name="B"></textarea>
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>C,
                        name: <br><input type="text" name="Cname" /><br>
                        list: <br><textarea cols="30" rows="5" name="C"></textarea>
                    </p>
                </td>
                <td>
                    <p>D,
                        name: <br><input type="text" name="Dname" /><br>
                        list: <br><textarea cols="30" rows="5" name="D"></textarea>
                    </p>
                </td>
            </tr>
            <tr>
                <td>

                    <p>E,
                        name: <br><input type="text" name="Ename" /><br>
                        list: <br><textarea cols="30" rows="5" name="E"></textarea>
                    </p>
                </td>
                <td>
                    <p>F,
                        name: <br><input type="text" name="Fname" /><br>
                        list: <br><textarea cols="30" rows="5" name="F"></textarea>
                    </p>
                </td>
            </tr>
        </table>
        <p><input type="submit" value="提交" /></p>
    </form>

</body>

</html>

<!-- //原文出自【易百教程】，商业转载请联系作者获得授权，非商业请保留原文链接：https://www.yiibai.com/flask/flask_sending_form_data_to_template.html -->